#profile-pic {
    border-radius: 50%;
}

.profile-area {
    height: 50vh;    
    display: flex;
    align-items: center;
    justify-content: center;   
}

.profile-links {
    display: flex;
    list-style-type: none; 
    width: 10vh;
    height: 10vh;
    justify-content: space-between;
}